/* Reset y estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #fff;
    line-height: 1.6;
  }
  
  header {
    background-color: #fff;
    padding: 10px;
    width: 100%; /* Asegura que el header ocupe todo el ancho de la pantalla */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que el header quede por encima de otros elementos */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-right: 100px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #1c1c38;
  }
  
  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  .logo .circle {
    width: 15px;
    height: 15px;
    background-color: #ec7b19;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: auto;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #1c1c38;
    font-size: 14px;
  }
  .nav-links a {
    position: relative;
    color: #1c1c38;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 0; /* Asegúrate de ajustar el padding según tus necesidades */
  }
  
  .nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Puedes ajustar el grosor de la línea */
    background-color: #b3c7df; /* Ajusta el color de la línea según tu diseño */
    left: 0;
    bottom: 0;
    transition: width 0.3s ease-in-out; /* Ajusta la duración de la animación */
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }
  
  
  
  .right-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cancel-btn,
  .language-btn {
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: transparent;
    color: #1c1c38;
  }
  
  .language-btn {
    background-color: #1c1c38;
    color: #fff;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 80px);
    padding: 50px 40px;
  }
  
  .container-text {
    max-width: 50%;
  }
  
  .container-text h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .container-text h1 span {
    display: block;
  }
  
  .container-text p {
    color: #b0b0d0;
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .container-btn {
    background-color: #fff;
    color: #1c1c38;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .ilustracion-image {
    margin-top: 60px;
    position: relative;
    width: 35%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ilustracion-image img {
    max-width: 80%;
    height: auto;
    border-radius: 20px; /* Puedes ajustar este valor según tu diseño */
  }
  footer {
    background-color: #1c1c38;
    color: #fff;
    text-align:center;
    padding: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }